@import "./_custom_colors";
$custom-purple-intermediate: mix($custom-purple, $custom-purple-darker, 25%);

.auth {
  background: linear-gradient(
    to bottom,
    $custom-purple,
    $custom-purple-intermediate,
    $custom-purple-darker
  );
  height: calc(100% - 70px);
}

.cont {
  padding: 3rem;
}

.btn:hover {
  background: custom-purple-light(7%);
}
