@import "./_custom_colors";
$custom-purple-intermediate: mix($custom-purple, $custom-purple-darker, 25%);

.home {
  background: $gradient-purple;
  height: calc(100% - 70px);
}
.home-logged {
  background: $gradient-purple-light;
  height: calc(100% - 70px);
}
