@import "./_custom_colors";

.notes {
  height: calc(100% - 70px);
  margin-left: 0px;
  margin-top: 0px;
}
.bm-menu {
  background: white;
  padding-top: 10px;
}
.custom-box.is-active {
  background-color: $custom-grey-light;
}

.btn:hover {
  background: custom-purple-light(7%);
}

.icon:hover {
  cursor: pointer;
}
.notes-editor {
  padding: 0;
  height: calc(100% - 43px);

  .quill {
    height: 100%;
  }
}

.m-y {
  margin: 50px 0;
}
